@model Excembly_vAlpha.ViewModels.AsignarTecnicoViewModel

<link rel="stylesheet" href="~/css/AsignarTecnico.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/6.1.1/css/all.min.css">

<div class="asignar-tecnico-container">
    <h2>Asignar Técnico a la Contratación</h2>
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    <!-- Formulario de Asignación de Técnico -->
    <form method="post" action="@Url.Action("AsignarTecnico", "ContratacionAdmin")">
        <input type="hidden" name="contratacionId" value="@Model.ContratacionId" />

        <div class="form-group">
            <label for="tecnicoId" class="form-label">Seleccionar Técnico</label>
            <select class="form-control" id="tecnicoId" name="tecnicoId" required>
                <option value="" disabled selected>--Seleccione un Técnico--</option>
                @foreach (var tecnico in Model.Tecnicos)
                {
                    <option value="@tecnico.TecnicoId">@tecnico.Nombre @tecnico.Apellidos</option>
                }
            </select>

        </div>

        <button type="submit" class="btn-primary">Asignar Técnico</button>
    </form>
    <div class="mt-3">
        <a href="@Url.Action("Index", "ContratacionAdmin")" class="btn-secondary">Volver a la lista de contrataciones</a>
    </div>
</div>
